<!DOCTYPE html>
<html lang="en">

<head>
    <title>Browse Movies</title>

    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/client/js/config.js"></script>
    <script src="/client/js/browse-movies.js" defer></script>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/browse-movies.css">
    <link href="https://fonts.googleapis.com/css?family=Amaranth&family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <div id="bg">

            <nav id="router_button">
                <ul>
                    <li><a href="/client/" id="home-router">Home</a></li>
                    <li><a href="/client/browse-movies.html" id="browse-router">Browse Movies</a></li>
                    <li><a href="/client/view-movies.html" id="view-router">View Movies</a></li>
                    <li><a href="/client/write-movies.html" id="write-router">Add a Movie</a></li>
                    <li><a href="https://www.imdb.com" id="imdb-external" target="_blank">Visit IMDb &#11111;</a></li>
                </ul>
            </nav>

            <header>
                <a href="/client/">
                    <div id="logo">The <span style="color: darkgoldenrod;">(</span>IMDb<span style="color: darkgoldenrod;">)</span> Db</div>
                </a>
                <h1>IMDb Top Rated Movies</h1>
            </header>

            <main id="browseMoviesApp" data-ng-app="moviesTableApp" data-ng-controller="moviesTableController" data-ng-init="hideForm=true">

                <section data-ng-hide="hideTable">
                    <div style="margin: 30px auto; text-align:center;">
                        <label for="groupBy">Director: </label>
                        <select id="groupBy" data-ng-model="selectedDirector" data-ng-options="director.display for director in directors" data-ng-change="redrawTable()"></select>
                    </div>
                    <div style="margin: 30px auto; text-align:center;">
                        <label for="sortBy">Sort By: </label>
                        <select id="sortBy" data-ng-model="selectedSortBy" data-ng-options="field.display for field in sortBy" data-ng-change="sortTable()"></select>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <th>Rank</th>
                                <th>Movie Title</th>
                                <th>Year</th>
                                <th>Director</th>
                                <th>Rating</th>
                                <th>Users</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr data-ng-repeat="movie in moviedata">
                                <td>{{ movie.rank }}</td>
                                <td>{{ movie.movieTitle }}</td>
                                <td>{{ movie.year }}</td>
                                <td>{{ movie.director }}</td>
                                <td>{{ movie.rating }}</td>
                                <td>{{ movie.users }}</td>
                                <td class="edit_button"><button data-ng-click="editMovie($index)">EDIT</button></td>
                                <td class="delete_button"><button data-ng-click="deleteMovie(movie['_id'])">DELETE</button></td>
                            </tr>
                        </table>
                    </div>

                </section>

                <section data-ng-hide="hideForm" id="updateForm">
                    <div class="update_fields">
                        <div>
                            <label for="rank">Rank:</label>
                            <input type="number" name="rank" size="30" id="rank" data-ng-model="rank" required>
                        </div>
                        <div>
                            <label for="movieTitle">Movie Title:</label>
                            <input type="text" name="movieTitle" size="30" id="movieTitle" data-ng-model="movieTitle" required>
                        </div>
                        <div>
                            <label for="year">Year:</label>
                            <input type="number" name="year" size="30" id="year" data-ng-model="year" required>
                        </div>
                        <div>
                            <label for="director">Director:</label>
                            <input type="text" name="director" size="30" id="director" data-ng-model="director" required>
                        </div>
                        <div>
                            <label for="rating">Rating:</label>
                            <input type="text" name="rating" size="30" id="rating" data-ng-model="rating" required>
                        </div>
                        <div>
                            <label for="users">Users:</label>
                            <input type="number" name="users" size="30" id="users" data-ng-model="users" required>
                        </div>
                    </div>

                    <div class="update_button"><button data-ng-click="updateMovie()">Update</button></div>
                    <div class="cancel_button"><button data-ng-click="closeForm()">Cancel</button></div>
                </section>

            </main>
        </div>
    </div>

</body>

</html>