<!DOCTYPE html>
<html lang="en">

<head>
    <title>Browse Movies</title>

    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/client/js/config.js"></script>
    <script src="/client/js/browse-movies.js" defer></script>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/browse-movies.css">
    <link href="https://fonts.googleapis.com/css?family=Amaranth&family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <div id="bg">

            <nav id="router_button">
                <ul>
                    <li><a href="/client/" id="home-router">Home</a></li>
                    <li><a href="/client/browse-movies.html" id="browse-router">Browse Movies</a></li>
                    <li><a href="/client/view-movies.html" id="view-router">View Movies</a></li>
                    <li><a href="/client/write-movies.html" id="write-router">Add a Movie</a></li>
                    <li><a href="https://www.imdb.com" id="imdb-external" target="_blank">Visit IMDb &#11111;</a></li>
                </ul>
            </nav>

            <header>
                <a href="/client/">
                    <div id="logo">The <span style="color: darkgoldenrod;">(</span>IMDb<span style="color: darkgoldenrod;">)</span> Db</div>
                </a>
                <h1>IMDb Top Rated Movies</h1>
            </header>

            <main id="browseMoviesApp">

                <section data-ng-app="moviesTableApp" data-ng-controller="moviesTableController">
                    <div style="margin: 30px auto; text-align:center;">
                        <label for="groupBy">Director: </label>
                        <select id="groupBy" data-ng-model="selectedDirector" data-ng-options="director.display for director in directors" data-ng-change="redrawTable()"></select>
                    </div>
                    <div>
                        <table>
                            <tr>
                                <th>Rank</th>
                                <th>Movie Title</th>
                                <th>Year</th>
                                <th>Director</th>
                                <th>Rating</th>
                                <th>Users</th>
                                <th></th>
                            </tr>
                            <tr data-ng-repeat="movie in moviedata">
                                <td>{{ movie.rank }}</td>
                                <td>{{ movie.movieTitle }}</td>
                                <td>{{ movie.year }}</td>
                                <td>{{ movie.director }}</td>
                                <td>{{ movie.rating }}</td>
                                <td>{{ movie.users }}</td>
                                <td><button data-ng-click="deleteMovie(movie['_id'])">DELETE</button></td>
                            </tr>
                        </table>
                    </div>

                </section>

            </main>
        </div>
    </div>

</body>

</html>