<!DOCTYPE html>
<html lang="en">

<head>
    <title>Write Movies</title>

    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/client/js/config.js"></script>
    <script src="/client/js/write-movies.js" defer></script>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/write-movies.css">
    <link href="https://fonts.googleapis.com/css?family=Amaranth&family=Open+Sans" rel="stylesheet">
</head>

<body>
    <div id="wrapper">

        <div id="bg">

            <nav id="router_button">
                <ul>
                    <li><a href="/client/" id="home-router">Home</a></li>
                    <li><a href="/client/browse-movies.html" id="browse-router">Browse Movies</a></li>
                    <li><a href="/client/view-movies.html" id="view-router">View Movies</a></li>
                    <li><a href="/client/write-movies.html" id="write-router">Add a Movie</a></li>
                    <li><a href="https://www.imdb.com" id="imdb-external" target="_blank">Visit IMDb &#11111;</a></li>
                </ul>
            </nav>

            <header>
                <a href="/client/">
                    <div id="logo">The <span style="color: darkgoldenrod;">(</span>IMDb<span style="color: darkgoldenrod;">)</span> Db</div>
                </a>
                <h1>Enter Movie Data from IMDb</h1>
            </header>

            <main>
                <section data-ng-app="writeMoviesApp" data-ng-controller="writeMoviesController" id="writeMoviesApp">
                    <p>Reference <a href="https://www.imdb.com/chart/top/" target="_blank">IMDb's Top 250 Movies</a> to add movie data.</p>
                    <form>
                        <div>
                            <label for="rank">Rank</label>
                            <input type="number" id="rank" name="rank" size="30" data-ng-model="rank" required>
                        </div>
                        <div>
                            <label for="movieTitle">Movie Title</label>
                            <input type="text" id="movieTitle" name="movieTitle" size="30" data-ng-model="movieTitle" required>
                        </div>
                        <div>
                            <label for="year">Year</label>
                            <input type="number" id="year" name="year" size="30" data-ng-model="year" required>
                        </div>
                        <div>
                            <label for="director">Director</label>
                            <input type="text" id="director" name="director" size="30" data-ng-model="director" required>
                        </div>
                        <div>
                            <label for="rating">Rating</label>
                            <input type="text" id="rating" name="rating" size="30" data-ng-model="rating" required>
                        </div>
                        <div>
                            <label for="users">Users</label>
                            <input type="number" id="users" name="users" size="30" data-ng-model="users" required>
                        </div>
                        <div id="save_button">
                            <button id="data-submit" data-ng-click="submitMovie()">Submit Movie</button>
                        </div>
                    </form>
                    <div id="success-added">
                        {{ addResults }}
                    </div>
                </section>
            </main>
        </div>
    </div>
</body>

</html>