/* Primarily used on: /browse-movies */

table {
    background-color: #fff;
    border-collapse: collapse;
    margin: 20px 20px 20px 0;
    padding: 20px;
    line-height: 18px;
}

thead {
    background-color: yellow;
}

td,
th {
    padding: 8px 12px;
    border-bottom: 1px solid darkgoldenrod;
}

tr:nth-of-type(even) {
    background-color: lightyellow;
}

td:nth-of-type(2),
td:nth-of-type(4),
td:nth-of-type(6) {
    text-align: center;
}

th:nth-of-type(7),
td:nth-of-type(7) {
    padding-right: 30px;
}

tr:hover {
    background-color: yellow;
}

th:hover {
    cursor: pointer;
}

.update_button button,
.delete_button button {
    border: 1px solid #555;
    color: #fff;
    font-size: 0.66em;
    font-variant: small-caps;
    font-weight: bold;
}

.delete_button button {
    background-color: #c00;
}

.update_button button {
    background-color: darkgoldenrod;
}

.update_button button:hover,
.delete_button button:hover {
    cursor: pointer;
}

tr {
    transition: 400ms;
}

tr.removeRow {
    transform: scaleY(0);
}

#updateForm {
    background-color: lightyellow;
    border: 1px solid darkgoldenrod;
    float: left;
    margin: 30px 30px 30px 0;
    padding: 2em;
    width: 30em;
}

#updateForm label {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 1em;
    text-align: right;
    width: 7em;
}

#updateForm input {
    display: block;
    margin-bottom: 1em;
}