/* Primarily used on: /write-movies */

form {
    background-color: lightyellow;
    border: 1px solid darkgoldenrod;
    float: left;
    margin: 30px 30px 30px 0;
    padding: 2em;
    width: 30em;
}

label {
    display: block;
    float: left;
    font-weight: bold;
    padding-right: 1em;
    text-align: right;
    width: 7em;
}

input {
    display: block;
    margin-bottom: 1em;
}

#data-submit {
    font-size: 16px;
    margin-left: 9em;
    margin-top: 1.5em;
}

#success-added {
    background-color: rgb(186, 250, 186);
    border: 1px solid green;
    float: left;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    line-height: 1.5em;
    margin: 30px 0;
    opacity: 0;
    padding: 1em 2em;
    width: 30em;
}